/* $mg: #343a40;
$mgr: #7B9E87;
$eb: #8AF3FF; 
$pb: #15AEBF; 
$sb: #35D4E6; 
$bl: #D8F793;
$cp: #FF8F82;
$cr: #CE6C47;
$gp: #8DE969;
$cb: #0081A7;
$fg: #83F52C;
$capri: #30C5FF; */

$black: #000;
$white: #fff;

