$fsmall: 0.8rem;
$fphone: 1.5rem;
$fipad: 1.8rem;
$hipad: 2.5rem;
$flaptop: 3rem;
$hlaptop: 5rem;

$fsmall: 0.8rem;
$fstandard: 1rem;
$fnormal: 1.5rem;
$flarge: 1.8rem;
$flarger: 2.5rem;
$flargest: 3rem;

$hnormal: 2rem;
$hlarge: 3rem;
$hlarger: 4.5rem;

$max-width: 1000px;
$max-width-large: 1200px;
$max-width-larger: 1500px;

$footer-height-mobile: 400px;
$footer-height: 350px;

$header-height: 10vh;

$mobile-element-height: 300px;
$mobile-element-width: 335px;

$ipad-element-height: 450px;
$ipad-element-width: 502px;