@font-face {
    font-family: 'Ambient';
    src: local('Ambient Regular'), local('Ambient-Regular'),
        url('../font/Ambient-Regular-manual.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto);